{% extends "base.html" %}
{% load static %}
{% block title %}STOCKs in M{% endblock %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>StockMarket Report</li>
        </ol>
        <h2>StockMarket Report</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
   


            
                
                
               
               
                
          
              
       
      


 {% endblock%}