{% extends "base.html" %}
{% load static %}
{% block title %}STOCKs in M{% endblock %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>StockMarket Report</li>
        </ol>
        <h2>StockMarket Report</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">
        <h3>Company:{{api.companyName}}  Currency:{{api.currency}}</h3>

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <p>
<table class="table table-hover table-danger table-responsive">
<table class="table">
  <thead  class="table-danger">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">KEY</th>
      <th scope="col">VALUE</th>
      <th scope="col">ID</th>
      <th scope="col">KEY</th>
      <th scope="col">VALUE</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>ytdChange</td>
      <td>{{api.ytdChange}}</td>
      <td>13</td>
      <td>lastTradeTime</td>
      <td>{{api.lastTradeTime}}</td>
     
    </tr>
    <tr>
      <td>2</td>
      <td>week52Low</td>
      <td>{{api.week52Low}}</td>
      <td>14</td>
      <td>iexVolume</td>
      <td>{{api.iexVolume}}</td>
      
    </tr>
    <tr>
      <td>3</td>
      <td>week52High</td>
      <td>{{api.week52High}}</td>
      <td>15</td>
      <td>iexRealtimePrice</td>
      <td>{{api.iexRealtimePrice}}</td>
    </tr>
    <tr>
      <td>4</td>
      <td>symbol</td>
      <td>{{api.symbol}}</td>
      <td>16</td>
      <td>iexMarketPercent</td>
      <td>{{api.iexMarketPercent}}</td>
    </tr>
    <tr>
      <td>5</td>
      <td>previousVolume</td>
      <td>{{api.previousVolume}}</td>
      <td>17</td>
      <td>iexClose</td>
      <td>{{api.iexClose}}</td>
    </tr>
    <tr>
      <td>6</td>
      <td>previousClose</td>
      <td>{{api.previousClose}}</td>
      <td>18</td>
      <td>iexBidSize</td>
      <td>{{api.iexBidSize}}</td>
    </tr>
    <tr>
      <td>7</td>
      <td>peRatio</td>
      <td>{{api.peRatio}}</td>
      <td>19</td>
      <td>iexBidPrice</td>
      <td>{{api.iexBidPrice}}</td>
    </tr>
    <tr>
      <td>8</td>
      <td>marketCap</td>
      <td>{{api.marketCap}}</td>
      <td>20</td>
      <td>changePercent</td>
      <td>{{api.changePercent}}</td>
    </tr>
    <tr>
      <td>9</td>
      <td>lastestUpdate</td>
      <td>{{api.latestUpdate}}</td>
      <td>21</td>
      <td>change</td>
      <td>{{api.change}}</td>
    </tr>
    <tr>
      <td>10</td>
      <td>latestTime</td>
      <td>{{api.latestTime}}</td>
      <td>22</td>
      <td>avgTotalVolume</td>
      <td>{{api.avgTotalVolume}}</td>
    </tr>
    <tr>
      <td>11</td>
      <td>lastestSource</td>
      <td>{{api.latestSource}}</td>
      <td>23</td>
      <td>iexAskSize</td>
      <td>{{api.iexAskSize}}</td>
    </tr>
    <tr>
      <td>12</td>
      <td>lastestPrice</td>
      <td>{{api.latestPrice}}</td>
      <td>24</td>
      <td>iexOpen</td>
      <td>{{api.iexOpen}}</td>
    </tr>
  </tbody>
</table>


            
                
                
               
               
                
          
              
              
              </p>
              

              
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Welcome to StockMarket Report</h3>
              <ul>
              This is a Realtime Stock Market API Report.
              </ul>
            </div>
            <div class="portfolio-description">
              <h3></h3>
              <ul>
              <p>
              </p>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


 {% endblock%}