{% extends "base.html" %}
{% load static %}
{% block title %}Add mystock{% endblock %}


     









{% block content %}

<div class="container">
<ul>
<h1>Add Mystock</h1><br/>



      <form action="{% url 'add_mystock'%}"class="form-inline d-flex" method="POST">
      {% csrf_token %}
    
      <input class="form-control me-2" type="search" placeholder="Type Ticker Symbol here.." aria-label="Search" name="ticker">
        <button class="btn btn-outline-danger" type="submit">Stock Quote</button>
      </form>

     <br/>
    

{% for item in ticker %}
    {{ item}}<br/>
{% endfor %}

</ul>
</div>










 {% endblock%}
